<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false"/>
    <arg name="moveit" default="false"/>

    <!-- Load the robot description -->
    <param name="robot_description" command="cat $(find corobot_description)/urdf/corobot.urdf"/>

    <!-- Spawn the gazebo model -->
    <group if="$(arg sim)">
        <param name="use_sim_time" value="true"/>
        <include if="$(arg sim)" file="$(find gazebo_ros)/launch/empty_world.launch"/>
        <node if="$(arg sim)" name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false"
          args="-urdf -model corobot -param robot_description"/>
    </group>

    <!-- Spawn the low level drivers -->
    <include file="$(find corobot_driver)/launch/corobot_driver.launch">
        <arg name="sim" value="$(arg sim)"/>
    </include>

    <!-- Spawn the kinematics planning -->
    <include if="$(arg moveit)" file="$(find corobot_moveit_config)/launch/corobot_moveit.launch"/>
</launch>

